@model luceMIS4200demo2.Models.LineItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LineItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orders.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orders.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtyOrdered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtyOrdered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderdetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
